<h1 class="text-center mt-4">Listing All Articles</h1>
  <% @articles.each do |article| %>
    <div class=" mt-4 card shadow-sm p-0.5 ml-2 mr-2 mb-5 bg-body rounded">
      <div class="card-header font-italic">
        by Julia Thea
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-info" %></h5>
        <p class="card-text"><%= truncate(article.description, length: 100) %></p>
        <button type="button" class="btn btn-outline-success btn-sm"><%= link_to 'View', article %></button>
        <button type="button" class="btn btn-outline-info btn-sm"><%= link_to 'Edit', edit_article_path(article) %></button>
        <button type="button" class="btn btn-outline-warning btn-sm"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div>
        <div class="card-footer text-muted">
          Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago
      </div>
    </div>
  <% end %>
<%= link_to 'New Article', new_article_path, class: "btn btn-primary btn-sm ml-3 new-article" %>

